.site-head
.site-main
.site-foot
  margin: 0 auto
  width: 960px

.site-head
.site-foot
  padding: 0 60px
  -moz-box-sizing: border-box
  box-sizing: border-box

.site-head
  margin-top: 90px

.site-main
  margin-top: 30px
  margin-bottom: 30px

.site-foot
  margin-bottom: 30px