/* Base */
@font-face {
  font-family: 'icon';
  src: url("fonts/icon.eot?-3uy3dk");
  src: url("fonts/icon.eot?#iefix-3uy3dk") format('embedded-opentype'), url("fonts/icon.woff?-3uy3dk") format('woff'), url("fonts/icon.ttf?-3uy3dk") format('truetype'), url("fonts/icon.svg?-3uy3dk#icon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icon';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-right:before {
  content: "\e600";
}
.icon-arrow-left:before {
  content: "\e601";
}
blockquote,
body,
dd,
dl,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
menu,
ol,
p,
pre,
ul {
  margin: 0;
}
button,
caption,
fieldset,
input,
legend,
menu,
ol,
td,
textarea,
th,
ul {
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
fieldset,
iframe,
img {
  border: 0;
}
address,
cite,
dfn,
em,
i,
var {
  font-style: normal;
}
b,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
th {
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
audio,
canvas,
video {
  display: inline-block;
}
button,
input,
select,
textarea {
  font: inherit;
}
input {
  line-height: normal;
}
textarea {
  overflow: auto;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
label {
  cursor: pointer;
}
template {
  display: none;
}
img,
audio,
canvas,
video {
  vertical-align: middle;
}
html {
  color: #666;
  background: #eee;
}
body {
  font-family: 'Helvetica Neue', 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', Sans-serif;
  font-size: 14px;
  line-height: 175%;
}
code,
kbd,
pre,
samp {
  font-family: 'Source Code Pro', Consolas, 'Liberation Mono', Courier, monospace, serif;
}
a {
  color: #258fb8;
  text-decoration: none;
}
a:hover {
  transition: all 0.3s ease;
}
.u-cf:after {
  content: '';
  display: table;
  clear: both;
}
.u-bfc {
  overflow: hidden;
}
.u-fl {
  float: left;
}
.u-fr {
  float: right;
}
.u-hidden {
  display: none;
  visibility: hidden;
}
/* Layout */
.site-head,
.site-main,
.site-foot {
  margin: 0 auto;
  width: 960px;
}
.site-head,
.site-foot {
  padding: 0 60px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.site-head {
  margin-top: 90px;
}
.site-main {
  margin-top: 30px;
  margin-bottom: 30px;
}
.site-foot {
  margin-bottom: 30px;
}
/* Theme */
.site-head,
.site-foot {
  height: 120px;
  line-height: 118px;
  background-color: #262a30;
  border: 1px solid #000;
  box-shadow: 1px 2px 3px #ddd;
}
.site-title {
  font-size: 30px;
}
.site-title > a {
  color: #fff;
}
.site-nav__item {
  display: inline-block;
  margin-left: 20px;
}
.site-nav__link {
  color: #999;
}
.site-nav__link:hover {
  color: #fff;
}
.site-copy {
  font-size: 12px;
  color: #999;
}
.page-menu__item {
  display: inline-block;
}
.page-menu__link {
  font-size: 30px;
  color: #fff;
}
.post {
  overflow: hidden;
  margin-top: 30px;
  background-color: #fff;
  box-shadow: 1px 2px 3px #ddd;
}
.post__head {
  margin: 60px;
}
.post__time {
  font-size: 12px;
  color: #ccc;
}
.post__title {
  margin-top: 5px;
  font-size: 26px;
}
.post__title > a {
  color: #666;
}
.post__image {
  margin: 60px -60px;
  display: block;
}
.post__main {
  margin: 60px;
}
.post__main a {
  color: #258fb8;
}
.post__main a:hover,
.post__main a:focus,
.post__main a:active {
  text-decoration: underline;
}
.post__main blockquote {
  margin: 30px -60px;
  padding: 30px 60px;
  border-left: 5px solid #ddd;
  background-color: #eee;
}
.post__main code,
.post__main kbd {
  display: inline-block;
  padding: 0.1em 0.6em;
  margin: 0 0.1em;
  font-size: 12px;
  line-height: 1.2;
  white-space: nowrap;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  border-radius: 3px;
}
.post__main kbd {
  box-shadow: 0 1px 0px rgba(0,0,0,0.2), 0 0 0 2px #fff inset;
}
.post__main .highlight {
  overflow: auto;
  margin: 30px -60px;
  padding: 30px;
  color: #ccc;
  background-color: #2d2d2d;
}
.post__main .highlight .gutter pre {
  color: #666;
}
.post__main .highlight figcaption {
  padding: 0 1em;
  margin-bottom: 1em;
  font-size: 0.85em;
  color: #999;
}
.post__main .highlight figcaption a {
  float: right;
  padding-right: 1em;
}
.post__main .highlight figcaption span {
  padding-left: 1em;
}
.post__main .highlight table {
  margin: 0;
  width: auto;
  border: none;
}
.post__main .highlight table td,
.post__main .highlight table th {
  border-left: none;
}
.post__main .highlight table tr {
  border-bottom: none;
}
.post__main h1 {
  font-size: 138.5%;
}
.post__main h2 {
  font-size: 123.1%;
}
.post__main h3 {
  font-size: 108%;
}
.post__main h1,
.post__main h2,
.post__main h3,
.post__main p {
  margin: 1em 0;
}
.post__main h1,
.post__main h2,
.post__main h3,
.post__main h4,
.post__main h5,
.post__main h6,
.post__main strong {
  font-weight: bold;
}
.post__main abbr,
.post__main acronym {
  border-bottom: 1px dotted #000;
  cursor: help;
}
.post__main hr {
  margin: 30px auto;
  width: 61%;
  height: 4px;
  border: 0;
  background: #eee;
}
.post__main em {
  font-style: italic;
}
.post__main img {
  display: block;
  margin: 30px auto;
  max-width: 100%;
  height: auto;
}
.post__main table {
  margin: 30px 0;
  width: 100%;
  border: 1px solid #cbcbcb;
}
.post__main table caption {
  padding: 1em 0;
}
.post__main table td,
.post__main table th {
  border-left: 1px solid #cbcbcb;
  overflow: visible;
  padding: 0.5em 1em;
}
.post__main table td:first-child,
.post__main table th:first-child {
  border-left-width: 0;
}
.post__main table tr {
  border-bottom: 1px solid #cbcbcb;
}
.post__main table thead {
  background: #eee;
}
.post__main p {
  font-size: 14px;
}
.post__main ol,
.post__main ul,
.post__main dl {
  margin: 30px 0;
  margin-left: 2em;
}
.post__main ol {
  list-style: decimal outside;
}
.post__main ul {
  list-style: disc outside;
}
.post__main dd {
  margin-left: 1em;
}
.post__main pre .comment,
.post__main pre .title {
  color: #999;
}
.post__main pre .variable,
.post__main pre .attribute,
.post__main pre .tag,
.post__main pre .regexp,
.post__main pre .ruby .constant,
.post__main pre .xml .tag .title,
.post__main pre .xml .pi,
.post__main pre .xml .doctype,
.post__main pre .html .doctype,
.post__main pre .css .id,
.post__main pre .css .class,
.post__main pre .css .pseudo {
  color: #f2777a;
}
.post__main pre .number,
.post__main pre .preprocessor,
.post__main pre .built_in,
.post__main pre .literal,
.post__main pre .params,
.post__main pre .constant {
  color: #f99157;
}
.post__main pre .class,
.post__main pre .ruby .class .title,
.post__main pre .css .rules .attribute {
  color: #9c9;
}
.post__main pre .string,
.post__main pre .value,
.post__main pre .inheritance,
.post__main pre .header,
.post__main pre .ruby .symbol,
.post__main pre .xml .cdata {
  color: #9c9;
}
.post__main pre .css .hexcolor {
  color: #6cc;
}
.post__main pre .function,
.post__main pre .python .decorator,
.post__main pre .python .title,
.post__main pre .ruby .function .title,
.post__main pre .ruby .title .keyword,
.post__main pre .perl .sub,
.post__main pre .javascript .title,
.post__main pre .coffeescript .title {
  color: #69c;
}
.post__main pre .keyword,
.post__main pre .javascript .function {
  color: #c9c;
}
.post__foot {
  padding: 30px;
  border-top: 1px solid #ddd;
  background-color: #fafafa;
}
.post__foot-link,
.post__tag__link,
.post__more {
  padding: 10px;
  font-size: 12px;
  color: #999;
}
.post__tag__item {
  display: inline-block;
}
.post__tag__link {
  display: block;
}
.post__tag__link:hover {
  color: #666;
}
.post__tag__link:before {
  content: "#";
}
.post__more {
  padding: 10px 20px;
  color: #fff;
  border: 1px solid #bbb;
  background-color: #ccc;
  border-radius: 3px;
}
.post__more:hover {
  background-color: #ddd;
}
.comments {
  padding: 60px;
  margin: 30px 0;
  background-color: #fff;
  box-shadow: 1px 2px 3px #ddd;
}
.archive-title {
  margin: 30px;
  font-size: 26px;
  text-align: center;
}
/* State */
.page-menu__link--disabled {
  color: #999;
}
@media (max-width: 767px) {
  body {
    margin: 20px;
  }
  .site-head,
  .site-main,
  .site-foot {
    width: 100%;
  }
  .site-head,
  .site-foot {
    padding: 20px;
    height: auto;
    line-height: inherit;
  }
  .site-title,
  .site-nav,
  .site-copy,
  .page-menu {
    float: none;
  }
  .site-main {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .site-head {
    margin-top: 0;
    text-align: center;
  }
  .site-nav {
    margin-top: 10px;
  }
  .site-nav__item {
    margin-left: 0;
    margin: 0 5px;
  }
  .post {
    margin-top: 20px;
  }
  .post__head,
  .post__main {
    margin: 20px;
  }
  .post__title {
    margin-top: 2px;
  }
  .post__main blockquote,
  .post__main .highlight {
    padding: 20px;
    margin: 30px -20px;
  }
  .post__foot {
    position: relative;
    padding: 10px;
  }
  .post__tag {
    display: none;
  }
  .post__more {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
  .post__image {
    margin: 20px -20px;
  }
  .post__image img {
    margin: 0 auto;
  }
  .site-foot {
    margin-bottom: 0;
    text-align: center;
  }
  .page-menu {
    margin-top: 10px;
  }
  .site-foot bdi {
    display: none;
  }
  .archive-title {
    margin: 20px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  body {
    margin: 30px;
  }
  .site-head,
  .site-main,
  .site-foot {
    width: 100%;
  }
  .site-head {
    margin-top: 0;
  }
  .site-foot {
    margin-bottom: 0;
  }
}
