@media (max-width: 767px)
  body
    margin: 20px
  .site-head
  .site-main
  .site-foot
    width: 100%
  .site-head
  .site-foot
    padding: 20px
    height: auto
    line-height: inherit
  .site-title
  .site-nav
  .site-copy
  .page-menu
    float: none
  .site-main
    margin-top: 20px
    margin-bottom: 20px
  .site-head
    margin-top: 0
    text-align: center
  .site-nav
    margin-top: 10px
  .site-nav__item
    margin-left: 0
    margin: 0 5px
  .post
    margin-top: 20px
  .post__head
  .post__main
    margin: 20px
  .post__title
    margin-top: 2px
  .post__main
    blockquote
    .highlight
      padding: 20px
      margin: 30px -20px
  .post__foot
    position: relative
    padding: 10px
  .post__tag
    display: none
  .post__more
    width: 100%
    text-align: center
    box-sizing: border-box
  .post__image
    margin: 20px -20px
    img
      margin 0 auto
  .site-foot
    margin-bottom: 0
    text-align: center
  .page-menu
    margin-top: 10px
  .site-foot bdi
    display: none
  .archive-title
    margin: 20px

@media (min-width: 768px) and (max-width: 979px)
  body
    margin: 30px
  .site-head
  .site-main
  .site-foot
    width: 100%
  .site-head
    margin-top: 0
  .site-foot
    margin-bottom: 0