.head
.main
.foot
  margin: 0 auto
  width: 900px

.head
.foot
  padding: 0 60px
  height: 120px
  border: 1px solid #000000
  background-color: #262A30
  box-shadow: 1px 2px 3px #DDDDDD
  line-height: (@height - 2)
  -moz-box-sizing: border-box
  box-sizing: border-box

.head
  margin-top: 90px

.head-title
  font-size-rem(30)
  font-weight: normal
  > a
    color: #FFFFFF

.head-nav__item
  display: inline-block
  margin-left: 20px

.head-nav__link
  color: #999999
  &:hover
    color: #FFFFFF
    text-decoration: underline

.main
  margin-top: 30px
  margin-bottom: 30px

.archive-title
  margin: 1.6em
  text-align: center
  // 1.6 * 16
  font-size-rem(25.6)
  font-weight: normal

.comments
  margin: 30px 0
  padding: 60px
  background-color: #FFFFFF
  box-shadow: 1px 2px 3px #DDDDDD

.foot
  margin-bottom: 30px

.foot-copy
  color: #999999
  font-size-rem(12)

.page-menu__item
  display: inline-block

.page-menu__link
  color: #FFFFFF
  font-size-rem(30)

.page-menu__link--disabled
  color: #999999