// Base
$base-background = #eee
$base-font-size = 14px
$base-font-color = #666
$base-line-height = 1.6em
$base-font-family = 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif
$base-code-font-family = 'Source Code Pro', Consolas, 'Liberation Mono', Courier, monospace, serif
$base-link-color = #258fb8
$base-link-color-hover = #258fb8

// Code Color
$highlight-background = #2d2d2d
$highlight-current-line = #393939
$highlight-selection = #515151
$highlight-foreground = #cccccc
$highlight-comment = #999999
$highlight-red = #f2777a
$highlight-orange = #f99157
$highlight-yellow = #ffcc66
$highlight-green = #99cc99
$highlight-aqua = #66cccc
$highlight-blue = #6699cc
$highlight-purple = #cc99cc