mixin post(post, index)
  article.post
    header.post__head
      time.post__time(datetime = date_xml(post.date))
        = date(post.date, theme.date_format)
      h1.post__title: a(href = config.root + post.path)
        = post.title
    if index != 'archive'
      if post.img
        a.post__image(href = config.root + post.path): img(src = post.img, alt = 'featured-image')
      div.post__main.echo
        if post.excerpt && index == 'index'
          != post.excerpt
        else
          != post.content
    footer.post__foot.u-cf
      if post.tags && post.tags.length
        ul.post__tag.u-fl
          -post.tags.forEach(function(tag){
            li.post__tag__item: a.post__tag__link(href = config.root + tag.path)
              = tag.name
          - })
      if post.excerpt && index == 'index'
        a.post__more.u-fr(href = config.root + post.path + '#more')= theme.excerpt_link
      else
        a.post__foot-link.u-fr(href = config.root + post.path + '#disqus_thread')= theme.comment_link