.post
  overflow: hidden
  margin-top: 30px
  background-color: #fff
  box-shadow: 1px 2px 3px #ddd

.post__head
  margin: 60px

.post__time
  font-size: 12px
  color: #ccc

.post__title
  margin-top: 5px
  font-size: 26px
  > a
    color: #666

.post__image
  margin: 60px -60px
  display: block

.post__main
  margin: 60px
  a
    color: $base-link-color
    &:hover, &:focus, &:active
      text-decoration: underline
  blockquote
    margin: 30px -60px
    padding: 30px 60px
    border-left: 5px solid #ddd
    background-color: #eee
  code
    display: inline-block
    padding: 0.1em 0.6em
    margin: 0 0.1em
    font-size: 12px
    line-height: 1.2
    white-space: nowrap
    text-shadow: 0 1px 0 #fff
    border: 1px solid #ccc
    background-color: #f7f7f7
    border-radius: 3px
  kbd
    @extend .post__main code
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset
  .highlight
    overflow: auto
    margin: 30px -60px
    padding: 30px
    color: #ccc
    background-color: $highlight-background
    .gutter pre
      color: #666
    figcaption
      padding: 0 1em
      margin-bottom: 1em
      font-size: 0.85em
      color: #999
      a
        float: right
        padding-right: 1em
      span
        padding-left: 1em
    table
      margin: 0
      width: auto
      border: none
    table td, table th
      border-left: none
    table tr
      border-bottom: none
  h1 
    font-size:138.5%
  h2 
    font-size:123.1%
  h3 
    font-size:108%
  h1, h2, h3, p
    margin:1em 0
  h1, h2, h3, h4, h5, h6, strong
    font-weight:bold
  abbr, acronym
    border-bottom:1px dotted #000
    cursor:help
  hr
    margin: 30px auto
    width: 61%
    height: 4px
    border: 0
    background: #eee
  em
    font-style: italic
  img
    display: block
    margin: 30px auto
    max-width: 100%
    height: auto
  table
    margin: 30px 0
    width: 100%
    border: 1px solid #cbcbcb
  table caption
    padding: 1em 0
  table td, table th
    border-left: 1px solid #cbcbcb
    overflow: visible
    padding: 0.5em 1em
  table td:first-child, table th:first-child
    border-left-width: 0
  table tr
    border-bottom: 1px solid #cbcbcb
  table thead
    background: #eee
  p
    font-size: 14px
  ol, ul, dl
    margin: 30px 0
    margin-left:2em
  ol
    list-style: decimal outside
  ul
    list-style: disc outside
  dd
    margin-left:1em
  pre
    .comment
    .title
      color: $highlight-comment
    .variable
    .attribute
    .tag
    .regexp
    .ruby .constant
    .xml .tag .title
    .xml .pi
    .xml .doctype
    .html .doctype
    .css .id
    .css .class
    .css .pseudo
      color: $highlight-red
    .number
    .preprocessor
    .built_in
    .literal
    .params
    .constant
      color: $highlight-orange
    .class
    .ruby .class .title
    .css .rules .attribute
      color: $highlight-green
    .string
    .value
    .inheritance
    .header
    .ruby .symbol
    .xml .cdata
      color: $highlight-green
    .css .hexcolor
      color: $highlight-aqua
    .function
    .python .decorator
    .python .title
    .ruby .function .title
    .ruby .title .keyword
    .perl .sub
    .javascript .title
    .coffeescript .title
      color: $highlight-blue
    .keyword
    .javascript .function
      color: $highlight-purple

.post__foot
  padding: 30px
  border-top: 1px solid #ddd
  background-color: #fafafa

.post__foot-link
  padding: 10px
  font-size: 12px
  color: #999

.post__tag__item
  display: inline-block

.post__tag__link
  @extend .post__foot-link
  display: block
  &:hover
    color: #666
  &:before 
    content: "#"

.post__more
  @extend .post__foot-link
  padding: 10px 20px
  color: #fff
  border: 1px solid #bbb
  background-color: #ccc
  border-radius: 3px
  &:hover
    background-color: #ddd