html
  background: $base-background
  color: $base-font-color

// html
//   font-size: 62.5%

body
  font-size-rem($base-font-size)
  line-height: $base-line-height
  font-family: $base-font-family

code, kbd, pre, samp
    font-family: $base-code-font-family

a
  color: $base-link-color
  text-decoration: none